<form class="form">
    <input 
        type="text" 
        placeholder="Start typing..." 
        aria-label="List" 
        class="lib-list__input"
        [formControl]="myControl"
        [listControl]="list">
    
    <lib-list-form-control #list="listControl">
        <ng-template listControlContent>
            <!-- Hard-coded for testing puropses only -->
            <ul class="lib-list__content">
                <li class="lib-list__item">Item 1</li>
                <li class="lib-list__item">Item 2</li>
                <li class="lib-list__item">Item 3</li>
            </ul>
        </ng-template>
    </lib-list-form-control>
</form>